/* STYLE NAV BAR */
body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  
  .bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
  }
  
  .barStuff {
    float: left;
  }
  
  .barStuff a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
  }
  
  .barStuff a:hover {
    background-color: #e5a8a8;
  }