/*animation binded to welcome*/

/*
@keyframes disappear {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
*/

/*font*/
@font-face {
    font-family: 'Century Gothic';
    src: url('century gothic/CenturyGothic.woff2') format('woff2'),
        url('century gothic/CenturyGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
}

/*welcome page*/
#welcome {
    text-align: center;
    padding: 200px 0;
    font-size: 22px;
    color: pink;
}


/* STYLE BUTTON */
button { 
    margin-top: 5px;
    display: inline-block;
    border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
  }

/* STYLE IMAGES */
img {
    height: 7em;
    /*border: 8px solid rgb(195, 75, 95)*/
  }


/*Animation binded to math message (tis broken*/
/*
@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#math {
    text-align: center;
    padding: 270px 0;
    font-size: 30px;
    animation: appear 7s;
    animation-fill-mode: forwards;
}
*/

/* dropdown menu*/
#math {
    display: none;
}

#select {
    font-size: 30px;
}

.dropdown { 
    display: inline-block; 
    position: relative; 
  } 

.dropdown-content {
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 18px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #000000;
    background-color: #fec4ff;
}
