@font-face {
    font-family: 'Century Gothic';
    src: url('centuryGothic/CenturyGothic.woff2') format('woff2'),
        url('centuryGothic/CenturyGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
}

.barStuff {
    float: left;
}

.barStuff a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
}

.barStuff a:hover {
    background-color: #e5a8a8;
}

h4 {
    font-size: 25px;
    margin-left: 15px;
}

h5{
    margin-left: 15px;
}

p {
    margin-left: 15px;
}

#vector {
    height: 300px;
    border-style: solid;
    border-radius: 16px;
    border-width: medium;
    border-color: rgb(128, 32, 32);
}

img {
    height: 200px;
}