/* ANIMTATION WOOOOOO */
.makeItBouncy {
  opacity: 0;
  /*animation: fade-up 1s;*/
  transform: translateY(-30px) scale(0.9);
  transition: all 1s;
  animation-iteration-count: 1;

  /*positioning*/
}

.show {
  opacity: 1;
  transform: translateX(0px) scale(1);
  animation-iteration-count: 1;
}

@media(prefers-reduced-motion) {
  .makeItBouncy {
    transition: none;
  }
}

/* the rest */

body {
  margin-left: 0px;
  margin-top: 85px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
}

 #navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 182, 194);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
 }
 
 .bar {
  float: left;
  font-size: 20px;
 }
 
 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
 }
 
 
 li a:hover:not(.active) {
  background-color: lightcoral;
 }
 
 
 .active {
 background-color: lightcoral;
 }
 

/* decorations */

h1 {
  margin-left: 15px;
  font-size: 50px;
}

h3 {
  font-size: 40px;
  margin-left: 15px;
  color: #83BCFF;
}

h4 {
  font-size: 35px;
  margin-left: 15px;
  color: #8547d1da;
}

h5{
  font-size: 25px;
  margin-left: 15px;
  color: rgb(235, 116, 199);
}

p {
  margin-left: 20px;
  font-size: 20px;
}

/*
ul{
  text-align: left;
  display: inline-block;
}
*/

li {
  font-size: 25px;
}

img {
  height: 200px;
  margin-left: 15px;
  border-style: solid;
  border-width: 7px;
  border-color: rgb(255, 156, 156);
}

.graphs {
  height: 300px;
}

.formula {
  height: 100px;
}

.biggerFormula {
  height: 200px;
}

#unitcircle {
  height: 400px;
}