body {
    margin-left: 0px;
    margin-top: 70px;
    margin-right: 0px;
    margin-bottom: 0px;
    
  }
  
  .bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
    position:fixed;
    top:0;
    width: 100%;
  }
  
  .barStuff {
    float: left;
  }
  
  .barStuff a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
  }
  
  .barStuff a:hover {
    background-color: #e5a8a8;
  }
  
  h1 {
    margin-left: 15px;
  }
  
  h3 {
    font-size: 30px;
    margin-left: 15px;
  }
  
  h4 {
    font-size: 25px;
    margin-left: 15px;
  }
  
  h5{
    font-size: 15px;
    margin-left: 15px;
  }
  
  p {
    margin-left: 15px;
  }
  
  img {
    height: 200px;
    margin-left: 15px;
    border-style: solid;
    border-width: 7px;
    border-color: rgb(255, 156, 156);
  }
  
  .graphs {
    height: 300px;
  }