/*animation binded to welcome*/

/*
@keyframes disappear {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
*/

#welcome {
    background-color: #c8c0a3;
    text-align: center;
    padding: 245px 0;
    font-size: 24px;
    color: #9f1e2b;
    font-family: Century Gothic;
    /*font-family: Bahnschrift Light;*/
    /*animation: disappear 3s 3s;
    animation-fill-mode: forwards;
    */
}


/* STYLE BUTTON */
button { 
    margin-top: 5px;
    font-family: Century Gothic;
    display: inline-block;
    border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;
    border-radius: 25px;
  }

/* STYLE IMAGES */
img {
    height: 10em;
    border: 8px solid #91682188
  }

/*Animation binded to math message (tis broken*/
/*
@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#math {
    text-align: center;
    padding: 270px 0;
    font-size: 30px;
    animation: appear 7s;
    animation-fill-mode: forwards;
}
*/

#math {
    display: none;
}